scikit-learn
fastapi
cryptography
uvicorn
pydantic
cryptography
numpy
joblib
python-dotenv
## never use jwt in addition to the one below see : https://stackoverflow.com/questions/33198428/jwt-module-object-has-no-attribute-encode
PyJWT
requests